# Ignore all .log files
*.log
env\Lib
# Ignore all files in a folder
/temp/

# Ignore environment and build files
env
.env
__pycache__/
node_modules/

# Ignore all .pyc files (Python)
*.pyc

# Ignore VSCode settings folder
.vscode/
